
/*media queries*/
@media (min-width: 200px) and (max-width: 700px) {
    .heading-primary-main {
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 20px;
    }
    .heading-primary-sub {
        font-size: 20px;
        letter-spacing: 10px;
    }
}